@media(min-width:480px) {
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-collapse .collapse .in,
    .navbar-default .navbar-form {
        background: transparent;
        border: 0 !important;
    }
    .navbar-default .navbar-nav>li>a {
        margin-left: 0;
    }
    .nav {
        margin-left: 16px;
    }
    #bs-example-navbar-collapse-1 {
        background: transparent;
        padding: 0;
    }
    .home_page_info_sec,
    .home_page_info_sec2 {
        padding: 69px;
    }
    .footer_info_text {
        margin-bottom: 10px;
    }
    .social_wrapp {
        margin-top: 10px;
    }


}

@media(min-width:576px) {
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-collapse .collapse .in,
    .navbar-default .navbar-form {
        background: transparent;
        border: 0 !important;
    }
    .navbar-default .navbar-nav>li>a {
        margin-left: 0;
    }
    .nav {
        margin-left: 16px;
    }
    #bs-example-navbar-collapse-1 {
        background: transparent;
        padding: 0;
    }
    .home_page_info_sec,
    .home_page_info_sec2 {
        padding: 69px;
    }
    .footer_info_text {
        margin-bottom: 10px;
    }
    .social_wrapp {
        margin-top: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-default .navbar-nav>li>a {
        margin-left: 40px;
    }
    #bs-example-navbar-collapse-1 {
        background: transparent;
        padding: 0;
    }
    .home_page_info_sec,
    .home_page_info_sec2 {
        display: none;
    }
    .home_page_info_sec img {
        display: block;
        margin: 0 auto;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-default .navbar-nav>li>a {
        margin-left: 10px;
    }
    .about_img {
        display: block;
        margin: 0 auto;
    }
}

@media(min-width:1200px) {
    .navbar-default .navbar-nav>li>a {
        margin-left: 10px;
    }
    .about_img {
        width: 515px;
        position: absolute;
        top: 196px;
        right: 180px;
        z-index: 9;
    }
    .info_content_container{
        min-height: 600px;
        position: absolute;
        top: 0;
        left:0px;
        background: #f4f4f4;
    }
    .info_content_row{
        padding:29px 75px;
    }
    .consult_pic{
        width: 65%;
        position:absolute;
        bottom: 0px;right: -98px;
    }
}

@media(min-width:1920px) {
    .navbar-default .navbar-nav>li>a {
        margin-left: 10px;
    }
    .about_img {
        position: absolute;
        top: 196px;
        right: 490px !important;
        z-index: 9;
    }
    .info_content_container{
        min-height: 600px;
        position: absolute;
        top: 0;
        left:366px;
        background: #f4f4f4;
    }
    .info_content_row{
        padding:29px 75px;
    }
    .consult_pic{
        width: 65%;
        position:absolute;
        bottom: 0px;right: -375px;
    }
}
